extends layout
block content
  header.main-header
    .container
      nav.navbar.navbar-expand-lg.main-nav.px-0
        #mainMenu.collapse.navbar-collapse.justify-content-center
          ul.navbar-nav.ml-auto.text-uppercase.f1
            li
              a(href='/') home
            li
              a(href='/new_quiz') New Quiz
            //- li
            //-   a(href='/search') search
            li
              a.active.active-first(href='/your_quiz') your quizs
            li
              a(href='/profile') Profile
            li
              a(href='/logout') logout
  .container 
    .container.mt-5
      .row.d-flex.justify-content-center
        .col-md-8
          .headings.d-flex.justify-content-between.align-items-center.mb-3
            h5(style="color:#fff;") Quizs you have Taken 
          if (quizs.length > 0)
            for quiz in quizs
              .card.p-3.mt-2
                .d-flex.justify-content-between.align-items-center
                  .user.d-flex.flex-row.align-items-center
                    span
                      h4 #{quiz.quiz_name}
                      h6 #{quiz.desc}
                      small Quiz Category: #{quiz.category}    
                      br                  
                      small Score: #{quiz.result}/#{quiz.number_of_questions}
                  //- small 2 days ago
                .action.d-flex.justify-content-between.mt-2.align-items-center
                  .reply.px-4
                    a(href="/your_quiz/"+quiz.id)  View Answers
                    span.dots
                    a(href="/leaderboard/"+quiz.quiz_id)  View Leaderboard
                    span.dots
                    a(href="/quiz/"+quiz.quiz_id+"/play/1")  Retake
                  .icons.align-items-center
                    i.fa.fa-star.text-warning
                    i.fa.fa-check-circle-o.check-icon.text-success